body {
    font-family: system-ui;
    background: #333;
}

input[type=text] {
    width: 250px;
    height: 30px;
    border-radius: 6px;
}

.popupContainer {
    margin: 10px;
}

.omniboxContainer {
    margin: 4px;
    padding: 10px;
     color: black;
    text-align: center;
}

.addBookmarks, .getAllBookmarks {
    margin: 6px;
    background-color: #666;
    color: white;
    font-size: 12px;
    padding: 10px 18px;
    border: none;
    border-radius: 3px;
    text-align: center;
    width: 100px;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

button:hover {
    background-color: #777;
    color: white;
}

.resultsContainer {
    cursor: pointer;
    text-align: center;
    padding: 4px 5px;
    margin: 5px;
}

#titleCard {
    font-size: 14px;
    color: white;
}
